{% extends "base.twig" %}

{% block title %}Explore | PixSalle{% endblock %}

{% block head %}
    <link rel="stylesheet" href="../assets/css/explore.css"/>
{% endblock %}

{% block content %}
    <div class="body-content">
        <h1>Explore</h1>
        <div class="img-container">
            <div class="img-info">
                <img src="https://avatars.cloudflare.steamstatic.com/4bc24c5659c2925495744bc0c5e882e68dc9aa6a_full.jpg" alt="no-img-icon-found">
                <p>by: user</p>
            </div>
        </div>
    </div>
{% endblock %}