{% extends "base.twig" %}

{% block title %}Reset Password | PixSalle{% endblock %}

{% block head %}
    <link rel="stylesheet" href="../assets/css/password.css"/>
{% endblock %}

{% block content %}
  <div class="form-body">
    <div class="title-body">
        <h1>Reset</h1>
        <h1>Password</h1>
    </div>
    <form action="" method="POST">
        <div class="set">
            <div class="old-passw">
                <label>Old Password</label>
                <input type="password" name="old-password" placeholder="Enter your old password">
            </div>
            <div class="new-passw">
                <label>New Password</label>
                <input type="password" name="new-password" placeholder="Enter a new password">
            </div>
            <div class="conf-passw">
                <label>Confirm Password</label>
                <input type="password" name="confirm-password" placeholder="Confirm your new password">
            </div>
            {% if formErrors['password'] %}
                <p class="error">{{ formErrors['password'] }}</p>
            {% endif %}
        </div>
        <div class="buttons-section">
            <input class="go-back" type="submit" value="Go Back">
            <input class="passw-upd" type="submit" value="Update Password">
        </div>
    </form>
  </div>
{% endblock %}